name: "Build PDF"

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Build PDF
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          post_compile: "latexmk -c"
        
      - name: Rename PDF
        run: |
          mv ./main.pdf "./CV Daniil Bederdinov Frontend Developer.pdf"

      - name: Upload PDF
        uses: actions/upload-artifact@v4
        with:
          name: CV Daniil Bederdinov Frontend Developer.pdf
          path: "./CV Daniil Bederdinov Frontend Developer.pdf"

      - name: Commit & Push changes
        run: |
          git config --global user.name 'gh-action'
          git config --global user.email 'gh-action@noreply.com'
          git add "./CV Daniil Bederdinov Frontend Developer.pdf"
          git commit -m "update PDF file `date`"
          git push

